// ======================================================
// Block Styles
// ============
.block_image_text {
	$block: &;
	padding-top: 70px;
	padding-bottom: 70px;

	&--full_width { padding: 0 25px; }

	&__wrap {
		display: flex;

		@include breakpoint( medium down ) {
			flex-direction: column;
		}
	}

	&__wrap--left {
		@include flexgrid($columns: 500px auto, $spacing: 70px, $breakpoint: large up);
	}

	&__wrap--right {
		@include flexgrid($columns: 500px auto, $reverse: true, $spacing: 70px, $breakpoint: large up);
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__info {

		*:last-child {
			margin: 0;
		}
	}

	&__heading {
		
	}

	&__description {
		
	}

	&__link {
		
	}

	&__image {
		height: 350px;

		@include breakpoint( medium down ) {
			margin-bottom: 20px;
			width: 100%;
		}

		@include breakpoint( small down ) {
			height: 250px;
		}
	}
}